.stars {
    display: flex;
    cursor: pointer;
  }
  
  .stars i {
    font-size: 24px;
    color: gold;
    margin-right: 5px;
    transition: color 0.3s;
  }
  
  .stars i:hover {
    color: darkorange;
  }
  